snippet i18n.sh
	#!/bin/bash
	
	i18ndude rebuild-pot --pot src/${1:}/locales/${2:}.pot --merge src/${3:$1}/locales/manual.pot --create ${4:$2} src/${5:$1}
	
	i18ndude sync --pot src/${6:$1}/locales/${7:$2}.pot src/${8:$1}/locales/*/LC_MESSAGES/${9:$2}.po
