[submodule "bundle/pep8"]
	path = bundle/pep8
	url = https://github.com/cburroughs/pep8.py.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = https://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/pydoc"]
	path = bundle/pydoc
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/python_open_module"]
	path = bundle/python_open_module
	url = https://github.com/vim-scripts/python_open_module.git
[submodule "bundle/lustyexplorer"]
	path = bundle/lustyexplorer
	url = https://github.com/sjbach/lusty.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = https://github.com/klen/rope-vim.git
