schema.BytesLine(
	title=_("${1:}_label",
	        default=u"${2}"),
	description=_("${3:$1}_help",
	              default=u"${4}")${5:,}
	${6:constraint=}${7:my_constraint_callable,}
	${8:default=}${9:None,}
	${10:missing_value=}${11:None,}
	${12:min_length=}${13:0,}
	${14:max_length=}${15:0,}
	${16:readonly=}${17:False,}
	${18:required=}${19:True,}
	)
