schema.Choice(
	title=_("${1:}_label",
	        default=u"${2}"),
	description=_("${3:$1}_help",
	              default=u"${4}")${5:,}
	${6:source=}${7:MySourceBinder,}
	${8:constraint=}${9:my_constraint_callable,}
	${10:default=}${11:None,}
	${12:missing_value=}${13:None,}
	${14:readonly=}${15:False,}
	${16:required=}${17:True,}
)
