schema.Dict(
	title=_("${1:}_label",
	        default=u"${2}"),
	description=_("${3:$1}_help",
	              default=u"${4}")${5:,}
	${6:key_type=}${7:None,}
	${8:value_type=}${9:None,}
	${10:constraint=}${11:my_constraint_callable,}
	${12:default=}${13:None,}
	${14:missing_value=}${15:None,}
	${16:readonly=}${17:False,}
	${18:required=}${19:True,}
	)
