schema.Id(
	title=_("${1:}_label",
	        default=u"${2}"),
	description=_("${3:$1}_help",
	              default=u"${4}")${5:,}
	${6:constraint=}${7:my_constraint_callable,}
	${8:default=}${9:None,}
	${10:missing_value=}${11:None,}
	${12:readonly=}${13:False,}
	${14:min_length=}${15:0,}
	${16:max_length=}${17:0,}
	${18:required=}${19:True,}
	)
