schema.Id(
	title=_("${1:}_label",
	default=u"${2}"),
	description=_("${3:$1}_help",
	default=u"${4}")${5:,}
	${7:required=}${8:True,}
	${9:readonly=}${10:False,}
	${11:default=}${12:None,}
	${13:missing_value=}${14:None,}
	${15:order=}${16:0,}
	${17:constraint=}${18:my_constraint_callable,}
	${19:min=}${20:0,}
	${21:max=}${22:1,}
	${23:min_length=}${24:0,}
	${25:max_length=}${26:0,}
	${27:value_type=}${28:None,}
	${29:unique=}${30:False}
	)
