schema.List(
	title=_("${1:}_label",
	        default=u"${2}"),
	description=_("${3:$1}_help",
	              default=u"${4}")${5:,}
	${6:value_type = ${7:None},}
	${8:constraint=}${9:my_constraint_callable,}
	${10:min_length = ${11:0},}
	${12:max_length = ${13:0},}
	${14:default=}${15:None,}
	${16:missing_value=}${17:None,}
	${18:readonly=}${19:False,}
	${20:required=}${21:True,}
)
