atapi.TextField(
	'${1}',
	required=${2:False},
	searchable=${3:True},
	primary=${4:True},
	default_output_type='text/x-html-safe',
	storage=atapi.AnnotationStorage(),
	widget=atapi.RichWidget(
		label=_(u"${5}"),
		description=_(u"${6}")
	),
),
