<?xml version="1.0"?>
<object>
  <hidden manager="${1}" skinname="${2}">
	<viewlet name="${3}" />
  </hidden>
  <order manager="${4}" skinname="${5}" based-on="Plone Default">
	<viewlet name="${6}" />
  </order>
</object>

